@using AuctionDemo.Models;
@model IEnumerable<ProductModel>

<style>
    .urun:hover{
        background-color:#D6D9DC;
    }
</style>

<div class="card-deck">
    @foreach (var product in Model)
    {
    <div class="col-md-4 mb-3">

            <div class="card">
                <img src="/Upload/@product.ImagePath" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="/Home/Details/@product.Id"> @product.Name</a>
                    </h5>
                    <p class="card-text pt-2 description">@product.Description ...</p>
                    <p class="card-text"><small class="text-muted product-price">@product.Price</small> <i class="fas fa-lira-sign"></i> </p>
                    <a href="/Home/Details/@product.Id" class="btn btn-default btn-sm float-right urun" style="border-radius:10px;">
                        Ürünü İncele <i class="fas fa-angle-double-right"></i>
                    </a>
      
                </div>
            </div>
        </div>
        }

    </div>